@import '../utils/mixins';
@import '../utils/vars';

.button {
  @include inlineFlexJustifyAlignCenter;
  max-width: 21.5rem;
  background: $main-red-color;
  cursor: pointer;

  @include onDesktopSmall {
    max-width: 23rem;
  }

  @include onTablet {
    max-width: 21.5rem;
  }

  &__link {
    @include inlineFlexJustifyAlignCenter;
    gap: $gap-s;
    padding: 1.8rem 2.2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: $font-size-l;
    font-weight: 700;
    line-height: $line-height-xs;
    color: $white-color;
  }

  &__link > img {
    width: 2.4rem;
    height: 2.4rem;
  }
}

.button-transparent {
  @include inlineFlexJustifyAlignCenter;
  max-width: 16.8rem;
  cursor: pointer;

  @include onDesktopSmall {
    max-width: 23rem;
  }

  @include onTablet {
    max-width: 21.5rem;
  }

  &__link {
    @include inlineFlexJustifyAlignCenter;
    gap: $gap-xs;
    font-family: 'Montserrat', sans-serif;
    font-size: $font-size-xl;
    font-weight: 600;
    line-height: $line-height-s;
    color: $main-red-color;
  }

  &__link--gray {
    font-family: 'Roboto', sans-serif;
    font-size: $font-size-l;
    font-weight: 400;
    line-height: $line-height-m;
    color: $gray-disabled-color;
  }

  &__link > img {
    width: 2.4rem;
    height: 2.4rem;
  }
}

.button--full-width {
  width: $full-width;
  max-width: none;
}

.button:hover {
  background-color: $hover-red-color;
}
