@import '../utils/mixins';
@import '../utils/vars';

.advantages {
  position: relative;
  margin-bottom: 9rem;

  @include onTablet {
    margin-bottom: 7rem;
  }

  &__container-swiper {
    display: block;

    @include onPhone {
      display: none;
    }
  }

  &__swiper {
    height: 72rem;

    @include onTablet {
      height: 63rem;
    }

    &-image-container {
      display: flex;
      position: absolute;
      width: 94.8rem;
      height: 67rem;
      top: 0;
      left: 0;

      @include onTablet {
        @include fullWidthHeight;
      }
    }

    &-image {
      @include fullImageContainerCover;
    }

    &-container {
      @include flexColumn;
      gap: $gap-l;
      position: relative;
    }

    &-pagination,
    &-pagination-mobile {
      display: none;
      z-index: 2 !important;
    }

    &-pagination {
      @include onTablet {
        display: block;
        bottom: 2rem !important;
      }

      @include onPhone {
        display: none;
      }
    }

    &-pagination-mobile {
      @include onPhone {
        display: block;
        margin-left: 12rem;
        width: auto !important;
        height: 1.4rem;
        top: 3rem !important;
      }
    }

    &-pagination > .swiper-pagination-bullet {
      @include onTablet {
        width: 1.2rem;
        height: 1.2rem;
        background-color: $white-color;
      }
    }

    &-pagination-mobile > .swiper-pagination-bullet {
      @include onPhone {
        width: 0.8rem;
        height: 0.8rem;
        background-color: $light-gray-color;
      }
    }

    &-pagination > .swiper-pagination-bullet-active,
    &-pagination-mobile > .swiper-pagination-bullet-active {
      background-color: $main-red-color;
    }

    &-buttons-wrapper {
      position: absolute;
      left: 72rem;
      bottom: 0;

      @include onTablet {
        justify-content: flex-start;
      }
    }

    &-buttons {
      position: absolute;
      display: flex;
      top: initial;
      bottom: 10.155rem;
      width: 16.4rem;

      @include onDesktopSmall {
        bottom: 9.8rem;
        width: 16.6rem;
      }

      @include onDesktopMini {
        bottom: 9.3rem;
        width: 17.2rem;
      }
    }

    &-button-prev,
    &-button-next {
      width: 7.2rem !important;
      height: 7.4rem !important;
      background-color: rgba(0, 0, 0, 0.2);

      @include onTablet {
        display: none !important;
      }
    }

    &-button-prev:hover,
    &-button-next:hover {
      background-color: $main-red-color;
    }

    &-button-prev > img,
    &-button-next > img {
      width: 3.2rem;
      height: 3.2rem;
    }

    &-button-next > img {
      transform: rotate(180deg);
    }

    &-slide {
      position: relative;

      &-container {
        position: absolute;
        bottom: 4.9rem;
        left: 87.3rem;
        padding: 6rem 0 0 7rem;
        height: 60rem;
        z-index: 1;
        background-color: $white-color;

        @include onDesktopSmall {
          top: 7.1rem;
          left: 87.3rem;
        }

        @include onDesktopMini {
          top: 6.9rem;
          left: 87.6rem;
        }

        @include onTablet {
          top: 0;
          left: 0;
          width: $full-width;
          max-width: $full-width;
          height: 63rem;
          padding: 13rem 5rem 14rem;
          background-color: rgba(0, 0, 0, 0.4);
        }
      }

      &-image-container {
        position: absolute;
        top: -3rem;
        left: 2rem;
        width: 25rem;
        height: 20rem;
      }

      &-image {
        @include fullWidthHeight;
      }

      &-content {
        @include flexColumnAlignStart;
        gap: $gap-xl;

        @include onTablet {
          justify-content: flex-end;
          gap: $gap-xll;
          width: $full-width;
        }
      }

      &-info {
        @include flexColumn;
        gap: $gap-l;
        max-width: 40rem;

        @include onTablet {
          max-width: none;
        }
      }

      &-title > h2 {
        font-size: 2.8rem;
        line-height: 3.9rem;

        @include onTablet {
          color: $white-color;
        }
      }

      &-description > p {
        line-height: $line-height-l;

        @include onTablet {
          color: $white-color;
        }
      }
    }
  }

  &__swiper-mobile-container {
    display: none;

    @include onPhone {
      display: block;
    }
  }

  &__swiper-mobile {
    &-image-container {
      margin-bottom: 3.7rem;
      width: $full-width;
      height: 18rem;
    }

    &-image {
      @include fullWidthHeight;
      object-fit: cover;
      object-position: center;
    }

    &-slide {
      &-content {
        @include flexColumnAlignStart;
        gap: $gap-xl;
      }

      &-info {
        @include flexColumnAlignStart;
        gap: $gap-l;
      }

      &-title > h2 {
        font-size: $font-size-xll;
        line-height: $line-height-xl;
      }
    }
  }
}
