@import "../utils/mixins";
@import "../utils/vars";

.button {
  @include inlineFlexJustifyAlignCenter;
  gap: 1rem;
  padding: 1.1rem 1.4rem;
  max-width: 15.4rem;
  background: $main-red-color;

  &__link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    line-height: 1.2rem;
    color: $white-color;
  }
}