@import "../utils/mixins";
@import "../utils/vars";

.button {
  @include inlineFlexJustifyAlignCenter;
  gap: 1.5rem;
  padding: 1.8rem 2.2rem;
  max-width: 22rem;
  background: $main-red-color;

  &__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    font-weight: 800;
    line-height: 2rem;
    color: $white-color;
  }
}