@import '../utils/mixins';
@import '../utils/vars';

.gallery {
  position: relative;
  margin-bottom: $margin-bottom-xll;

  @include onTablet {
    margin-bottom: $margin-bottom-xl;
  }

  @include onPhone {
    margin-bottom: $margin-bottom-l;
  }

  &__title > h2 {
    margin-bottom: $margin-bottom-m;
    line-height: $line-height-xll;

    @include onPhone {
      font-size: $font-size-xll;
      line-height: $line-height-xl;
    }
  }

  &__swiper {
    height: 70rem;

    @include onTablet {
      height: 46rem;
    }

    @include onPhone {
      height: 25.4rem;
    }

    &-image-container {
      display: flex;
      width: $full-width;
      height: 67rem;
      top: 0;
      left: 0;

      @include onTablet {
        @include fullWidthHeight;
      }
    }

    &-image {
      @include fullImageContainerCover;

      @include onTablet {
        object-position: bottom;
      }
    }

    &-pagination {
      display: none;
      z-index: 2 !important;

      @include onPhone {
        position: relative !important;
        display: block;
        margin-top: 2.5rem !important;
      }
    }

    &-pagination > .swiper-pagination-bullet {
      @include onPhone {
        @include paginationPhoneTablet;
      }
    }

    &-pagination > .swiper-pagination-bullet-active {
      background-color: $main-red-color;
    }

    &-buttons-wrapper {
      @include flexJustifyEnd;
      position: absolute;
      width: 88%;
      height: 70rem;
      bottom: -2rem;
      left: 6.6%;

      @include onDesktopSmall {
        bottom: -1.9rem;
        left: 6.8%;
      }

      @include onDesktopMini {
        bottom: -2.1rem;
      }
    }

    &-buttons {
      @include buttonsDesktopWrapper;
      bottom: 10.155rem;
      width: 16.4rem;

      @include onDesktopSmall {
        bottom: 9.8rem;
        width: 16.6rem;
      }

      @include onDesktopMini {
        bottom: 9.3rem;
        width: 17.2rem;
      }
    }

    &-button-prev,
    &-button-next {
      @include buttonsDesktopTransparent;

      @include onTablet {
        display: none !important;
      }
    }

    &-button-prev:hover,
    &-button-next:hover {
      background-color: $main-red-color;
    }

    &-button-prev > img,
    &-button-next > img {
      @include buttonDesktop;
    }

    &-button-next > img {
      transform: $transform-rotate-half;
    }

    &-slide {
      width: 88% !important;

      @include onPhone {
        width: 100% !important;
      }
    }
  }
}
