@import "../utils/mixins";
@import "../utils/vars";

.gallery {
  position: relative;
  margin-bottom: 8.8rem;

  @include onTablet {
    margin-bottom: 8rem;
  }

  @include onPhone {
    margin-bottom: 6rem;
  }

  &__title > h2 {
    margin-bottom: 4rem;
    font-weight: 700;
    font-size: 3.4rem;
    line-height: 4.8rem;

    @include onPhone {
      font-size: 3rem;
      line-height: 4.2rem;
    }
  }

  &__swiper {
    height: 70rem;

    @include onTablet {
      height: 46rem;
    }

    @include onPhone {
      height: 25.4rem;
    }

    &-image-container {
      display: flex;
      width: 100%;
      height: 67rem;
      top: 0;
      left: 0;

      @include onTablet {
        width: 100%;
        height: 100%;
      }
    }

    &-image {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;

      @include onTablet {
        object-position: bottom;
      }
    }

    &-pagination {
      display: none;
      z-index: 2 !important;
    }

    &-pagination {
      @include onPhone {
        position: relative !important;
        display: block;
        margin-top: 2.5rem !important;
      }
    }

    &-pagination > .swiper-pagination-bullet {
      @include onPhone {
        width: 0.8rem;
        height: 0.8rem;
        background-color: $light-gray-color;
      }
    }

    &-pagination > .swiper-pagination-bullet-active {
      background-color: $main-red-color;
    }

    &-buttons-wrapper {
      @include flexJustifyEnd;
      position: absolute;
      width: 88%;
      height: 70rem;
      bottom: -2rem;
      left: 6.6%;

      @include onDesktopSmall {
        bottom: -1.9rem;
        left: 6.8%;
      }

      @include onDesktopMini {
        bottom: -2.1rem;
      }
    }

    &-buttons {
      position: absolute;
      display: flex;
      top: initial;
      bottom: 10.155rem;
      width: 16.4rem;

      @include onDesktopSmall {
        bottom: 9.8rem;
        width: 16.6rem;
      }

      @include onDesktopMini {
        bottom: 9.3rem;
        width: 17.2rem;
      }
    }

    &-button-prev,
    &-button-next {
      width: 7.2rem !important;
      height: 7.4rem !important;
      background-color: rgba(0, 0, 0, 0.4);

      @include onTablet {
        display: none !important;
      }
    }

    &-button-prev:hover,
    &-button-next:hover {
      background-color: $main-red-color;
    }

    &-button-prev > img,
    &-button-next > img {
      width: 3.2rem;
      height: 3.2rem;
    }

    &-button-next > img {
      transform: rotate(180deg);
    }

    &-slide {
      width: 88% !important;

      @include onPhone {
        width: 100% !important;
      }
    }
  }
}
