@import '../utils/mixins';
@import '../utils/vars';

.information {
  position: relative;
  margin-bottom: $margin-bottom-xll;

  @include onTablet {
    margin-bottom: $margin-bottom-xl;
  }

  @include onPhone {
    margin-bottom: $margin-bottom-l;
  }

  &__swiper {
    height: 70rem;

    @include onTablet {
      height: 45rem;
    }

    @include onPhone {
      height: 57rem;
    }

    &-image-container {
      display: flex;
      position: absolute;
      width: 87rem;
      height: 67rem;
      top: 0;
      left: 0;

      @include onTablet {
        @include fullWidthHeight;
      }
    }

    &-image {
      @include fullImageContainerCover;

      @include onTablet {
        object-position: bottom;
      }
    }

    &-container {
      @include flexColumn;
      gap: $gap-l;
      position: relative;
    }

    &-pagination {
      display: none;
      z-index: 2 !important;

      @include onTablet {
        display: block;
        bottom: 2rem !important;
      }
    }

    &-pagination > .swiper-pagination-bullet {
      @include onTablet {
        width: 1.2rem;
        height: 1.2rem;
        background-color: $white-color;
      }
    }

    &-pagination > .swiper-pagination-bullet-active {
      background-color: $main-red-color;
    }

    &-buttons-wrapper {
      position: absolute;
      bottom: 50.3rem;
      left: 65.2rem;

      @include onTablet {
        justify-content: flex-start;
      }
    }

    &-buttons {
      @include buttonsDesktopWrapper;
      bottom: 10.155rem;
      width: 16.3rem;

      @include onDesktopSmall {
        bottom: 9.8rem;
        width: 16.6rem;
      }

      @include onDesktopMini {
        bottom: 9.3rem;
        width: 17.2rem;
      }
    }

    &-button-prev,
    &-button-next {
      @include buttonsDesktop;

      @include onTablet {
        display: none !important;
      }
    }

    &-button-prev:hover,
    &-button-next:hover {
      background-color: $main-red-color;
    }

    &-button-prev > img,
    &-button-next > img {
      @include buttonDesktop;
    }

    &-button-next > img {
      transform: $transform-rotate-half;
    }

    &-slide {
      position: relative;

      &-container {
        position: absolute;
        bottom: 10.6rem;
        left: 66.3rem;
        padding: 12.4rem 7rem 0;
        height: 52rem;
        z-index: 1;
        background-color: $white-color;

        @include onDesktopSmall {
          top: 7.6rem;
          left: 66.45rem;
        }

        @include onDesktopMini {
          top: 7.4rem;
          left: 66.7rem;
        }

        @include onTablet {
          top: 0;
          left: 0;
          width: $full-width;
          max-width: $full-width;
          padding: 10rem 6rem 12rem;
          background-color: rgba(0, 0, 0, 0.4);
        }

        @include onPhone {
          padding: 8rem 3.5rem 0 3.5rem;
          height: $full-height;
        }
      }

      &-image-container {
        position: absolute;
        top: -3rem;
        left: 2rem;
        width: 25rem;
        height: 20rem;
      }

      &-image {
        @include fullWidthHeight;
      }

      &-content {
        @include flexColumnAlignStart;
        gap: $gap-xl;

        @include onTablet {
          justify-content: flex-end;
          gap: $gap-xll;
          width: $full-width;
        }
      }

      &-info {
        @include flexColumn;
        gap: $gap-l;
        max-width: 52.6rem;

        @include onTablet {
          max-width: none;
        }
      }

      &-title > h2 {
        line-height: $line-height-xll;

        @include onTablet {
          color: $white-color;
        }

        @include onPhone {
          font-size: 2.6rem;
          line-height: 3.6rem;
        }
      }

      &-description > p {
        line-height: $line-height-l;

        @include onTablet {
          color: $white-color;
        }
      }
    }
  }
}
