@import '../utils/mixins';
@import '../utils/vars';

.location {
  @include flexAlignCenter;
  gap: 4.2rem;
  margin-bottom: 18.5rem;

  @include onTablet {
    flex-direction: column;
    gap: 6rem;
    margin-bottom: 0;
  }

  &__form {
    &-has-error {
      display: block;
    }

    &-has-error {
      display: none;
    }

    &-container {
      max-width: 40rem;
    }

    &-title > h2 {
      margin-bottom: $margin-bottom-tiny;
      line-height: $line-height-huge;
    }

    &-label {
      font-size: $font-size-little;
      font-weight: 400;
      line-height: 1.9rem;
      color: $gray-disabled-color;
    }

    &-inputs-container {
      @include flexColumn;
      gap: $gap-small;
      margin-bottom: 2.5rem;
    }

    &-input-label-container {
      @include flexColumn;
      gap: 1rem;
    }

    &-input-container {
      position: relative;
    }

    &-input-container > input,
    &-input-container > textarea {
      padding: 1.2rem 1.5rem;
      width: $full-width;
      background-color: $darker-white-color;
      border: none;
    }

    &-input-container > input,
    &-input-container > textarea,
    &-phone-placeholder > span {
      font-family: 'Roboto', sans-serif;
      font-size: $font-size-big;
      font-weight: 400;
      line-height: $line-height-small;
      color: $dark-gray-color;
    }

    &-input-container > input:focus,
    &-input-container > textarea:focus {
      outline: none;
    }

    &-input-container > input::placeholder,
    &-input-container > textarea::placeholder {
      color: $gray-placeholder-color;
    }

    &-input-container > span.error {
      font-family: 'Roboto', sans-serif;
      font-size: $font-size-tiny;
      font-weight: 400;
      line-height: $line-height-tiny;
      color: $yellow-color;
    }

    &-input-label-container--phone {
      position: relative;
    }

    &-input-container--phone > input {
      padding: 1.2rem 1.5rem 1.2rem 6.3rem;
    }

    &-input-container--message > textarea {
      height: 10rem;
      resize: none;
    }

    &-input-error {
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;
    }

    &-phone-placeholder {
      position: absolute;
      top: 4.1rem;
      left: 1.5rem;
      z-index: 1;
    }

    &-sumbit-container {
      display: flex;
      gap: $gap-little;
    }

    &-sumbit-container > span {
      font-size: $font-size-little;
      font-weight: 400;
      line-height: $line-height-little;
      color: $gray-agreement-color;
    }

    &-button,
    &-popup-button {
      padding: 1.8rem 2.2rem;
      height: 5.6rem;
      font-family: 'Montserrat', sans-serif;
      font-size: $font-size-big;
      font-weight: 800;
      line-height: $line-height-tiny;
      color: $white-color;
      border: none;
    }

    &-popup {
      width: 80rem;
      height: 40rem;

      @include onTabletDesign {
        width: 60rem;
        height: 30rem;
      }

      @include onPhone {
        width: 35rem;
        height: 25rem;
      }

      &-content {
        @include flexAlignCenter;
        height: $full-height;
      }

      &-image {
        flex: 1;
        height: $full-height;

        @include onPhone {
          display: none;
        }
      }

      &-image > img {
        @include fullImageContainer;
      }

      &-info {
        @include flexColumnJustifyAlignCenter;
        flex: 1;

        @include onTabletDesign {
          flex: 2;
        }
      }

      &-title > h3 {
        line-height: $line-height-big;
        color: $black-color;

        @include onPhone {
          font-size: 1.5rem;
        }
      }

      &-text {
        margin-bottom: $margin-bottom-little;

        @include onTabletDesign {
          margin-bottom: $margin-bottom-tiny;
        }
      }

      &-text > p {
        line-height: $line-height-big;

        @include onPhone {
          font-size: $font-size-little;
        }
      }

      &-button {
        @include onPhone {
          padding: 1rem 1.5rem;
          height: auto;
          font-size: $font-size-little;
        }
      }
    }
  }

  &__map {
    &-popup {
      width: 28rem;
      padding: 2rem 2.5rem;
      border-radius: 1rem;
      background-color: $white-color;
      box-shadow: 2px 4px 16px 0px rgba(0, 0, 0, 0.25);

      &-list {
        @include flexColumn;
        gap: $gap-tiniest;
      }

      &-item {
        @include flexAlignCenter;
        gap: $gap-tiniest;
      }

      &-item--location {
        align-items: flex-start;
      }

      &-title > h5 {
        margin-bottom: 1.8rem;
        font-size: $font-size-big;
        font-weight: 800;
        line-height: $line-height-little;
        color: $black-color;
      }

      &-link > a,
      &-link > p {
        font-size: $font-size-big;
        font-weight: 400;
        line-height: $line-height-little;
        color: $dark-gray-color;
      }

      &-link > a:hover {
        color: $yellow-color;
      }

      &-bubble {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        overflow-y: auto;

        @include onPhone {
          top: 0;
          left: 50%;
          transform: translate(-50%, 0);
        }
      }

      &-bubble-anchor {
        position: absolute;
        height: $full-height;
        right: 0.8rem;
        top: 0;

        @include onPhone {
          top: auto;
          right: auto;
          bottom: 0.8rem;
          left: 0;
        }
      }

      &-bubble-anchor::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-top: 0.6rem solid transparent;
        border-bottom: 0.6rem solid transparent;
        border-right: 0.8rem solid $white-color;

        @include onPhone {
          top: auto;
          right: auto;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 0);
          border-left: 0.6rem solid transparent;
          border-right: 0.6rem solid transparent;
          border-bottom: 0.8rem solid $white-color;
        }
      }

      &-container {
        cursor: auto;
        width: 0;
        position: absolute;
      }
    }
  }
}

#map {
  height: 60rem;
  width: $full-width;

  @include onTablet {
    height: 65rem;
  }

  @include onPhone {
    height: 49.6rem;
  }
}
