@import '../utils/mixins';
@import '../utils/vars';

.main-screen {
  position: relative;
  margin-bottom: 22.2rem;

  @include onTablet {
    margin-bottom: 11.6rem;
  }

  @include onPhone { 
    margin-bottom: 39.4rem;
  }

  &__swiper {
    height: 72rem;

    &-image-container {
      display: flex;
      position: absolute;
      width: 100%;
      height: 72rem;
      top: 0;
      left: 0;
    }

    &-image-container::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }

    &-image {
      display: block;
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
      object-position: center;
    }

    &-container {
      @include flexColumn;
      gap: 3rem;
      position: relative;
    }

    &-buttons-wrapper {
      @include flexJustifyCenter;
      position: relative;

      @include onTablet {
        justify-content: flex-start;
      }
    }

    &-buttons {
      position: absolute;
      display: flex;
      top: initial;
      bottom: 6.8rem;
      width: 18.2rem;

      @include onDesktopSmall {
        bottom: 6.6rem;
        width: 18.42rem;
      }

      @include onDesktopMini {
        bottom: 5.9rem;
        width: 19.055rem;
      }
    }

    &-button-prev,
    &-button-next {
      width: 8.1rem !important;
      height: 9rem !important;
      background-color: rgba(255, 255, 255, 0.2);

      @include onTablet {
        display: none !important;
      }
    }

    &-button-prev > img,
    &-button-next > img {
      width: 3.2rem;
      height: 3.2rem;
    }

    &-button-next > img {
      transform: rotate(180deg);
    }
  }

  &__titles {
    padding-top: 17.5rem;
  }

  &__title > h1 {
    margin-top: 0.8rem;
    margin-bottom: 1.5rem;
    max-width: 60.5rem;
    font-size: 4.4rem;
    font-weight: 800;
    line-height: 6.2rem;
    color: $white-color;

    @include onPhone {
      font-size: 3rem;
      font-weight: 600;
      line-height: 4.2rem;
    }
  }

  &__subtitles-price {
    @include flexAlignCenter;
    gap: 1rem;
  }

  &__subtitle > h5,
  &__subtitle {
    opacity: 0.8;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.2rem;
    color: $white-color;
  }

  &__subtitle-sum {
    opacity: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 4.5rem;
    color: $white-color;
  }

  &__descriptions {
    @include flexAlignCenter;
    gap: 3rem;

    @include onPhone {
      @include flexColumnAlignStart;
      gap: 1.8rem;
    }
  }

  &__description {
    @include flexJustifyAlignCenter;
    gap: 1.2rem;

    &-icon {
      width: 100%;

      &-container {
        width: 4rem;
        height: 4rem;
      }
    }
  }

  &__social {
    @include flexColumnAlignCenter;
    gap: 2rem;
    position: absolute;
    top: 40%;
    z-index: 2;

    @include onPhone {
      display: none;
    }

    &-container {
      @include flexJustifyEnd;
    }

    &-icon-link {
      @include flexJustifyAlignCenter;
      width: 2.4rem;
      height: 2.4rem;
    }

    &-icon-link > img {
      width: 100%;
    }
  }

  &__presentation {
    &-container {
      @include flexJustifyAlignCenter;
      position: absolute;
      top: -2.2rem;
      left: 17.2rem;
      padding: 0 3.3rem 0 28rem;
      z-index: 2;
      height: 17.6rem;
      background-color: $main-red-color;

      @include onDesktopSmall {
        top: -2.4rem;
        left: 17.3rem;
      }

      @include onDesktopMini {
        top: -3.1rem;
        left: 17.6rem;
      }

      @include onTablet {
        left: 3rem;
        width: calc(100vw - 6rem);
      }

      @include onPhone {
        align-items: flex-start;
        top: 5.9rem;
        left: 0;
        padding: 0 2.5rem;
        width: 100vw;
        height: 33.2rem;
      }
    }

    &-image-container {
      position: absolute;
      top: -3rem;
      left: 2rem;
      width: 25rem;
      height: 20rem;

      @include onPhone {
        top: -8rem;
        left: 50%;
        transform: translate(-50%, 0);
        width: 32.5rem;
        height: 26rem;
      }
    }

    &-image {
      width: 100%;
      height: 100%;
    }

    &-content {
      @include flexJustifyAlignCenter;
      gap: 3.3rem;

      @include onTablet {
        justify-content: flex-end;
        gap: 5rem;
        width: 100%;
      }

      @include onPhone {
        @include flexColumnAlignCenter;
        gap: 1.5rem;
        padding-top: 18rem;
      }
    }

    &-titles {
      @include flexColumn;
      gap: 0.9rem;

      @include onPhone {
        justify-content: center;
      }
    }

    &-title > h3 {
      max-width: 16.3rem;
      font-size: 2.1rem;
      font-weight: 700;
      line-height: 3rem;
      color: $white-color;

      @include onTablet {
        max-width: none;
      }
    }

    &-subtitle {
      @include onPhone {
        @include flexColumnAlignCenter;
      }
    }

    &-subtitle > h5,
    &-subtitle > p {
      font-family: 'Roboto', sans-serif;
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 2.2rem;
      color: $white-color;
      opacity: 0.6;
    }

    &-download {
      @include flexColumnAlignCenter;

      &-icon-container {
        @include flexColumnAlignCenter;
      }

      &-link {
        @include onPhone {
          @include flexAlignCenter;
          flex-direction: row-reverse;
          gap: 1.7rem;
        }
      }
    }
  }
}
