@import "../utils/mixins";
@import "../utils/vars";

.main-page {
  position: relative;

  &__swiper {
    height: 72rem;

    &-image-container {
      display: flex;
    }

    &-image-container::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }

    &-image {
      position: absolute;
      min-width: 100%;
      min-height: 100%;
      overflow: hidden;

      z-index: -1;
    }

    &-container {
      @include flexColumn;
      gap: 3rem;
      position: relative;
    }

    &-buttons-wrapper {
      @include flexJustifyCenter;
      position: relative;
    }

    &-buttons {
      position: absolute;
      display: flex;
      top: initial;
      bottom: 6.8rem;
      width: 18.2rem;
    }

    &-button-prev,
    &-button-next {
      width: 8.1rem !important;
      height: 9rem !important;
      background-color: rgba(255, 255, 255, 0.2);
    }

    &-button-prev > img,
    &-button-next > img {
      width: 3.2rem;
      height: 3.2rem;
    }

    &-button-next > img {
      transform: rotate(180deg);
    }
  }

  &__titles {
    padding-top: 17.5rem;
  }

  &__title {
    margin-top: 0.8rem;
    margin-bottom: 1.5rem;
    max-width: 60.5rem;
    font-size: 4.4rem;
    font-weight: 800;
    line-height: 6.2rem;
    color: $white-color;
  }

  &__subtitles-price {
    @include flexAlignCenter;
    gap: 1rem;
  }

  &__subtitle {
    opacity: 0.8;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.2rem;
    color: $white-color;
  }

  &__subtitle-sum {
    opacity: 1;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 4.5rem;
    color: $white-color;
  }

  &__descriptions {
    @include flexAlignCenter;
    gap: 3rem;
  }

  &__description {
    @include flexJustifyAlignCenter;
    gap: 1.2rem;

    &-icon {
      width: 100%;

      &-container {
        width: 4rem;
        height: 4rem;
      }
    }
  }

  &__social {
    @include flexColumnAlignCenter;
    gap: 2rem;
    position: absolute;
    top: 40%;
    z-index: 2;

    &-container {
      @include flexJustifyEnd;
    }

    &__icon-link {
      @include flexJustifyAlignCenter;
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  &__presentation {
    &-container {
      @include flexJustifyAlignCenter;
      position: absolute;
      z-index: 1;
      background-color: $main-red-color;
    }

    &-content {
      @include flexJustifyAlignCenter;
    }

    &-titles {
      padding: 4.8rem 0 3.9rem;
    }
  }
}
