@import "../utils/mixins";
@import "../utils/vars";

.nav {
  &__list {
    @include flexJustifyAlignCenter;
    gap: 1.9rem;
  }

  &__link {
    color: $white-color;
    opacity: 0.8;
  }

  &__link:hover::after {
    opacity: 1;
  }

  &__link--additional {
    display: inline-block;
    margin-top: 0.76rem;
  }

  &__item {
    padding: 1.3rem 0;
  }

  &__item--underline {
    display: inline-block;
  }

  &__item--underline > a {
    display: inline-block;
    position: relative;
  }

  &__item--underline > a::after {
    content: "";
    display: block;
    position: absolute;
    margin: auto;
    height: 3px;
    width: 0;
    top: -2.2rem;
    background: transparent;
    transition: all 0.3s;
  }

  &__item--underline > a:hover::after,
  li > a.active-nav::after {
    width: 100%;
    background: $main-red-color;
  }

  &__item--additional {
    @include flexJustifyAlignEnd;
    gap: 1.3rem;
    color: $white-color;
  }

  &__item--additional-info {
    @include flexJustifyAlignEnd;
    gap: 0.5rem;
  }

  &__item--additional-geo {
    @include flexColumnAlignStart;
  }

  &__item--subtitles {
    @include flexJustifyAlignCenter;
    gap: 0.5rem;
  }

  &__item--subtitle {
    display: block;
    color: $white-color;
    opacity: 0.8;
    font-size: 0.7rem;
  }

  &__item--geolocation {
    @include flexColumn;
    align-items: flex-start;
  }
}

a.nav__item--subtitle {
  text-decoration: underline;
}
