@import '../utils/mixins';
@import '../utils/vars';

.news {
  position: relative;
  margin-bottom: $margin-bottom-xl;

  @include onTablet {
    margin-bottom: $margin-bottom-l;
  }

  &__header {
    @include flexColumnJustifyAlignBetween;
    margin-bottom: $margin-bottom-m;
  }

  &__title > h2 {
    line-height: $line-height-xll;

    @include onPhone {
      font-size: $font-size-xll;
      line-height: $line-height-xl;
    }
  }

  &__swiper {
    &-slide {
      &-image-container {
        position: relative;
        display: flex;
        margin-bottom: $margin-bottom-s;
        height: 31rem;
        width: $full-width;
        top: 0;
        left: 0;
      }

      &-image-container > a {
        width: $full-width;
      }

      &-image {
        @include fullImageContainer;

        @include onTablet {
          object-position: bottom;
        }

        &-arrow {
          @include flexJustifyAlignCenter;
          position: absolute;
          width: 7rem;
          height: 7rem;
          bottom: 0;
          right: 0;
          background-color: $main-red-color;
          opacity: 0;
          transition: opacity 0.3s ease;
        }

        &-arrow > img {
          width: 2.4rem;
          height: 2.4rem;
        }
      }

      &-image-container:hover .news__swiper-slide-image-arrow {
        opacity: 1;
      }

      &-subtitle > h6 {
        margin-bottom: 0.8rem;
        line-height: $line-height-m;
        color: $gray-disabled-color;
      }

      &-title-link > h4 {
        margin-bottom: $margin-bottom-xs;
        line-height: $line-height-l;
        transition: color 0.3s ease;
      }

      &-title-link:hover > h4 {
        color: $main-red-color;
      }

      &-description > p {
        margin-bottom: 2.5rem;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: $line-height-l;
        color: $dark-gray-color;
      }
    }
  }
}
