@import '../utils/mixins';
@import '../utils/vars';

.page {
  &__container {
    padding: 0 10rem;

    @include onTablet {
      padding: 0 3rem;
    }

    @include onPhone {
      padding: 0 2.5rem;
    }
  }

  &__container--desktop {
    padding: 0 10rem;

    @include onTablet {
      padding: 0 0;
    }
  }

  &__container--tablet {
    @include onTablet {
      padding: 0 3rem;
    }

    @include onPhone {
      padding: 0 2.5rem;
    }
  }

  &__container--tablet-swiper {
    @include onTablet {
      padding: 0 0 0 3rem;
    }

    @include onPhone {
      padding: 0 2.5rem;
    }
  }

  &__container-scroll--disable {
    overflow-y: hidden;
  }

  &__container-scroll--active {
    overflow-y: auto;
  }
}