@import "../utils/mixins";
@import "../utils/vars";

.page {
  &__container {
    padding: 0 6.3rem;

    /* @include onTablet {
      padding: 0 5rem;
    }

    @include onDesktopMiddle {
      padding: 0 15rem;
    }

    @include onDesktopWide {
      padding: 0 21rem;
    } */
  }
}