@import '../utils/mixins';
@import '../utils/vars';

.planning {
  position: relative;
  margin-bottom: $margin-bottom-l;

  @include onTablet {
    margin-bottom: 0rem;
    padding-bottom: 7rem;
  }

  @include onPhone {
    margin-bottom: 0rem;
    padding-bottom: 9.8rem;
  }

  &__titles {
    @include flexColumn;
    gap: $gap-m;
    margin-bottom: $margin-bottom-xs;
  }

  &__title > h2 {
    line-height: $line-height-xll;

    @include onPhone {
      font-size: $font-size-xll;
      line-height: $line-height-xl;
    }
  }

  &__subtitle > h5 {
    line-height: $line-height-l;
    color: $dark-gray-color;
  }

  &__filters-wrapper {
    display: flex;
    gap: $gap-l;
    margin-bottom: $margin-bottom-xs;
  }

  &__filter {
    &-buttons-wrapper {
      @include flexColumn;
      gap: $gap-xss;
    }

    &-title > h6 {
      line-height: $line-height-m;
      color: $dark-gray-color;
    }

    &-buttons {
      display: flex;
    }

    &-button {
      padding: 1rem 1.5rem;
      font-size: $font-size-m;
      font-weight: 400;
      line-height: $line-height-s;
      color: $dark-gray-color;
      border: 0.1rem solid $darker-white-color;
      background-color: $white-color;
      cursor: pointer;
    }

    &-button:hover {
      background-color: $darker-white-color;
    }

    &-button--active,
    &-button--active:hover {
      outline: none;
      color: $white-color;
      background-color: $main-red-color;
      border-color: $main-red-color;
    }
  }

  &__swiper {
    &-pagination {
      display: none;
      z-index: 2 !important;

      @include onTablet {
        display: block;
        bottom: 2.5rem !important;
      }

      @include onPhone {
        bottom: 5.5rem !important;
      }
    }

    &-pagination > .swiper-pagination-bullet {
      @include onTablet {
        width: 0.8rem;
        height: 0.8rem;
        background-color: $light-gray-color;
      }
    }

    &-pagination > .swiper-pagination-bullet-active {
      background-color: $main-red-color;
    }

    &-buttons-wrapper {
      position: absolute;
      top: 12.5rem;
      right: 25.5rem;

      @include onTablet {
        justify-content: flex-start;
      }
    }

    &-buttons {
      position: absolute;
      display: flex;
      top: initial;
      bottom: 10.155rem;
      width: 16.4rem;

      @include onDesktopSmall {
        bottom: 9.8rem;
        width: 16.6rem;
      }

      @include onDesktopMini {
        bottom: 9.3rem;
        width: 17.2rem;
      }
    }

    &-button-prev,
    &-button-next {
      width: 7.2rem !important;
      height: 7.4rem !important;
      background-color: $gray-button-color;

      @include onTablet {
        display: none !important;
      }
    }

    &-button-prev:hover,
    &-button-next:hover {
      background-color: $main-red-color;
    }

    &-button-prev > img,
    &-button-next > img {
      width: 3.2rem;
      height: 3.2rem;
    }

    &-button-next > img {
      transform: rotate(180deg);
    }

    &-slide {
      @include flexColumn;

      &-image-container {
        margin-bottom: 1rem;
        height: 22rem;
      }

      &-image-container > img {
        @include fullImageContainerContain;
      }

      &-title {
        margin-bottom: 1.2rem;
      }

      &-title > h4 {
        font-size: 2.6rem;
        line-height: 3.6rem;
      }

      &-list {
        @include flexColumn;
        gap: $gap-xss;
        margin-bottom: $margin-bottom-xs;
      }

      &-item {
        @include flexAlignCenter;
        gap: $gap-m;

        &-title-container {
          @include flexAlignCenter;
          gap: 1rem;
          flex: 1;
        }

        &-icon-container {
          width: 1.8rem;
          height: 1.8rem;
        }

        &-icon-container > img {
          @include fullWidthHeight;
        }

        &-description {
          flex: 1;
        }

        &-title > span,
        &-description > span {
          font-size: $font-size-l;
          line-height: $line-height-m;
          color: $light-gray-text-color;
        }

        &-description > span {
          color: $black-color;
        }

        &-price {
          &-container {
            @include flexJustifyEndAlignCenter;
            gap: 1rem;
            margin-bottom: 3rem;
          }

          &-number,
          &-currency {
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            color: $black-color;
          }

          &-number {
            font-size: 2.6rem;
          }

          &-currency {
            font-size: 1.6rem;
          }

          &-description {
            font-size: 1.3rem;
            line-height: 1.8rem;
            color: $gray-disabled-color;
          }
        }
      }

      &-buttons-container {
        @include flexColumn;
        gap: 1.7rem;
      }
    }
  }
}
