@import "../utils/vars";

.simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
  background: linear-gradient(#74E6CF, #C0E594);
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar {
  width: 0.3rem;
  border-radius: 1rem;
}
