/* .swiper {
  z-index: -1 !important;
} */

/* .swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
} */

/* .swiper [class^="swiper-button-"] {
  display: flex;
  top: initial;
  bottom: 0;
} */

/* .swiper-button-prev,
.swiper-button-next {
  background-image: url("../../images/icons/arrow-swiper.svg") !important;
} */

.swiper-button-prev,
.swiper-button-next {
  z-index: 2 !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
  display: none;
}
