@import './utils/mixins';
@import './utils/vars';

html {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;

  @include onDesktopSmall {
    font-size: 9px;
  }

  @include onDesktopMini {
    font-size: 7px;
  }

  @include onTablet {
    font-size: 10px;
  }
}

h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 3.4rem;
  font-weight: 700;
  color: $black-color;
}

h3 {
  font-size: 2.1rem;
  font-weight: 700;
}

h4 {
  font-size: 2rem;
  font-weight: 800;
  color: $black-color;
}

h5 {
  font-size: $font-size-xl;
  font-weight: 400;
}

h6 {
  font-size: $font-size-l;
  font-weight: 400;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: $font-size-xl;
  font-weight: 400;
  color: $dark-gray-color;
}
