@import "./utils/mixins";

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;

  @include onDesktopSmall {
    font-size: 9px;
  }

  @include onDesktopMini {
    font-size: 7px;
  }

  @include onTablet {
    font-size: 10px;
  }

  /* @include onDesktopMiddle {
    font-size: 10px;
  } */
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
}

div,
h1,
h2,
h3,
h4,
h5,
a,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
