@import './vars';

// media queries

@mixin onDesktopMiddle {
  @media (max-width: 1679px) {
    @content;
  }
}

@mixin onDesktopSmall {
  @media (max-width: 1439px) {
    @content;
  }
}

@mixin onDesktopMini {
  @media (max-width: 1365px) {
    @content;
  }
}

@mixin onTablet {
  @media (max-width: 1023px) {
    @content;
  }
}

@mixin onTabletDesign {
  @media (max-width: 799px) {
    @content;
  }
}

@mixin onPhone {
  @media (max-width: 666px) {
    @content;
  }
}

// flex

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

@mixin flexJustifyCenter {
  display: flex;
  justify-content: center;
}

@mixin flexAlignCenter {
  display: flex;
  align-items: center;
}

@mixin flexColumnJustifyAlignCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flexColumnAlignCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flexColumnAlignStart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@mixin flexJustifyAlignCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexJustifyAlignEnd {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@mixin flexAlignEnd {
  display: flex;
  align-items: flex-end;
}

@mixin flexJustifyEnd {
  display: flex;
  justify-content: flex-end;
}

@mixin flexJustifyEndAlignCenter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin flexColumnJustifyAlignBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexJustifyAlignBetween {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@mixin inlineFlexJustifyAlignCenter {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

// width and height

@mixin fullWidthHeight {
  width: $full-width;
  height: $full-height;
}

// width, height, object-fit, object-position for images

@mixin fullImageContainerCover {
  display: block;
  width: $full-width;
  height: $full-height;
  object-fit: cover;
  object-position: center;
}

@mixin fullImageContainerContain {
  display: block;
  width: $full-width;
  height: $full-height;
  object-fit: contain;
  object-position: center;
}
