$white-color: #fff;
$black-color: #000;
$dark-gray-color: #333;
$middle-gray-color: #2d2d2d;
$light-gray-color: #e6e6e6;
$gray-disabled-color: #8fa4b2;
$gray-placeholder-color: #72828d;
$gray-input-color: #efefef;
$gray-agreement-color: #637079;
$main-red-color: #f03e3e;
$yellow-color: #f2994a;
