$white-color: #fff;
$black-color: #000;
$darker-white-color: #efefef;
$light-gray-color: #e6e6e6;
$middle-gray-color: #2d2d2d;
$dark-gray-color: #333;
$light-gray-color: #e6e6e6;
$gray-disabled-color: #8fa4b2;
$gray-placeholder-color: #72828d;
$gray-agreement-color: #637079;
$main-red-color: #f03e3e;
$yellow-color: #f2994a;

$gap-huge: 5rem;
$gap-large: 3.5rem;
$gap-big: 3rem;
$gap-small: 2rem;
$gap-little: 1.5rem;
$gap-tiny: 1.2rem;
$gap-tiniest: 0.8rem;

$margin-top-little: 0.8rem;

$margin-bottom-huge: 8.8rem;
$margin-bottom-large: 8rem;
$margin-bottom-big: 6rem;
$margin-bottom-small: 4rem;
$margin-bottom-little: 3rem;
$margin-bottom-tiny: 2rem;

$full-width: 100%;
$full-height: 100%;

$font-size-huge: 3rem;
$font-size-large: 1.6rem;
$font-size-big: 1.4rem;
$font-size-small: 1.3rem;
$font-size-little: 1.2rem;
$font-size-tiny: 1.1rem;

$line-height-huge: 4.8rem;
$line-height-large: 4.2rem;
$line-height-big: 2.8rem;
$line-height-small: 2.4rem;
$line-height-little: 2.2rem;
$line-height-tiny: 2rem;
