$white-color: #fff;
$black-color: #000;
$darker-white-color: #efefef;
$gray-button-color: #808080;
$dark-gray-color: #333;
$middle-gray-color: #2d2d2d;
$light-gray-color: #e6e6e6;
$light-gray-text-color: #717171;
$gray-disabled-color: #8fa4b2;
$gray-placeholder-color: #72828d;
$gray-agreement-color: #637079;
$main-red-color: #f03e3e;
$hover-red-color: #d22c2c;
$yellow-color: #f2994a;

$gap-xll: 5rem;
$gap-xl: 3.5rem;
$gap-l: 3rem;
$gap-m: 2rem;
$gap-s: 1.5rem;
$gap-xs: 1.2rem;
$gap-xss: 0.8rem;

$margin-top-s: 0.8rem;

$margin-bottom-xll: 8.8rem;
$margin-bottom-xl: 8rem;
$margin-bottom-l: 6rem;
$margin-bottom-m: 4rem;
$margin-bottom-s: 3rem;
$margin-bottom-xs: 2rem;

$full-width: 100%;
$full-height: 100%;

$font-size-xll: 3rem;
$font-size-xl: 1.6rem;
$font-size-l: 1.4rem;
$font-size-m: 1.3rem;
$font-size-s: 1.2rem;
$font-size-xs: 1.1rem;

$line-height-xll: 4.8rem;
$line-height-xl: 4.2rem;
$line-height-l: 2.8rem;
$line-height-m: 2.4rem;
$line-height-s: 2.2rem;
$line-height-xs: 2rem;
